

<div id="annotation" class="section">
<table>
  <tbody>
    <tr class="head">
      <td colspan="2">Annotations and Raw Data</td>
    </tr>
    <tr class="line1">
      <td colspan="2">
      <div style="text-align: justify;">The analysis is based on the
following raw intensites and annotations.<br>
      <br>
      </div>
      </td>
    </tr>
    <tr class="line2">
      <td width="50%">Microarray <b>type</b></td>
      <td width="50%">&nbsp;_PLATFORMTYPE_</td>
    </tr>
     <tr class="line2">
      <td width="50%">Microarray <b>platform</b></td>
      <td width="50%">&nbsp;_PLATFORM_</td>
    </tr>
    <tr class="line2">
      <td width="50%">An archive containing the <b>raw</b> chip data</td>
      <td width="50%">&nbsp;<a href="files/raw.zip">zip</a></td>
    </tr>
    <tr class="line2">
      <td width="50%">Annotation of successful <b>hybridizations</b> (sample sheet)</td>
      <td width="50%">&nbsp;<a href="files/arrays.csv">csv</a></td>
    </tr>
    <tr class="line2">
      <td width="50%">Annotation of the <b>probes</b> on the arrays (<a href="_PROBESOURCE_">reference</a>)</td>
      <td width="50%">&nbsp;<a href="files/probes.csv">csv</a></td>
    </tr>
    <tr class="line2">
      <td width="50%"><b>Gene sets</b> for which enrichment has been tested (_GENESETDB_)</td>
      <td width="50%">&nbsp;<a href="files/gene_sets.csv">csv</a></td>
    </tr>
  </tbody>
</table>
<br>
</div>
<br>
<br>

