

<div id="annotation" class="section">
<table>
  <tbody>
    <tr class="head">
      <td colspan="2">Differential Analysis</td>
    </tr>
    <tr class="line1">
      <td colspan="2">
      <div style="text-align: justify;">Here we perform statistical test on various effects (contrasts) of interest to the data set at hand: Using the Bioconductor package Limma, a linear model is fit to each gene separately. This linear model includes the variables listed below. Moderated t-tests are performed on various coefficients (a.k.a. contrasts or differences) of interest. FDR estimation is carried out using the Benjamini-Hochberg method.
      </div>
      </td>
    </tr>
    <tr class="line2">
      <td width="50%">Model description</td>
      <td width="50%">&nbsp;_MODELNAME_</td>
    </tr>
     <tr class="line2">
      <td width="50%">Variables in the model</td>
      <td width="50%">&nbsp;_VARIABLES_</td>
    </tr>
   <tr class="line2">
      <td width="50%">Replication (nb. samples per group)</td>
      <td width="50%">&nbsp;<a href="files/differential/replication.xls">xls</a></td>
    </tr>
    <tr class="line2">
      <td width="50%">Design matrix</td>
      <td width="50%">&nbsp;<a href="files/differential/design.csv">csv</a></td>
    </tr>
    <tr class="line2">
      <td width="50%">Contrasts matrix</td>
      <td width="50%">&nbsp;<a href="files/differential/cont_matrix.csv">csv</a></td>
    </tr>
    <tr class="line2">
      <td width="50%">Single file combining results for all coefficients</td>
      <td width="50%">&nbsp;<a href="files/differential/analysis_output.csv">csv</a></td>
    </tr>


    <tr class="line1">
      <td colspan="2">
      <div style="text-align: justify;">
	_SUMMARY_
      </div>



  </tbody>
</table>
<br>
</div>
<br>
<br>

