
<div id="una" class="section">
<table style="height: 252px;">
  <tbody>
    <tr class="head">
      <td colspan="2">Exploratory Analysis</td>
    </tr>
    <tr class="line1">
      <td colspan="2"><br>
      <div style="text-align: justify;"> Exploratory analysis refers to the analysis of a data set in an hypothesis-free manner. Typically, the data analyst will apply clustering and
dimensionality reduction techniques to the expression profiles. This allows the appreciation of main effects, the detection of labeling problems or the identification of new groups of samples.
</div>
      </td>
    </tr>
    <tr class="line2">
      <td>_EXPLORATORYTABLE_</td>
    </tr>
  </tbody>
</table>
<br>
</div>
<br>
<br>

