

<p class="character"> </p>
<div id="preprocessing" class="section">
<table>
  <tbody>
    <tr class="head">
      <td colspan="2">Preprocessing</td>
    </tr>


    <tr class="line1">
      <td colspan="2" style="text-align: justify;">
Before performing any gene expression comparison, various manipulations
are needed to reduce sources of variation. Typically, raw intensities will be background
adjusted to subtract the background noise estimate. Normalization algorithm will be applied to estimate
and subtract differences between arrays that are of technical origin. Subsequent steps will often include
log2 transformation, non-specific filtering of probes, averaging of technical replicates and batch effect adjustment. The ouput of the preprocessing step are exploration and statistics-ready expression values.<br>
_PPDESCRIPTION_<br>

 <br>
    </td>
  </tr>

    <tr class="line3">
      <td colspan="2">
      <center>Resulting <b>expression values</b>  of _NPROBES_ probes across _NSAMPLES_ arrays (<a href="files/expressions.csv">csv</a>)</center>
      </td>
    </tr>


  </tbody>
</table>
</div>
<br>
<br>

