body {  
	background: #FFFFFF;  
	color: #000000; 
	}  

 .tablesort  {
    cursor: pointer ;
    behavior:url(tablesort.htc);
    -moz-binding: url(tablesort.htc);
    }
    
H1 { font-family: Arial, Helvetica, sans-serif; font-size: 20pt; font-style: normal; font-weight: normal; color: #FFFFFF; background: #004080; text-align: center; margin: 10pt 2.5%}
H2 { font-family: Arial, Helvetica, sans-serif; font-size: 18pt; font-style: normal; font-weight: normal; color: #000000; background: rgb(210, 218, 254)}
H2.index { font-family: Arial, Helvetica, sans-serif; font-size: 18pt; font-style: normal; font-weight: normal; color: #FFFFFF; background: #000000; margin: 10pt 5%}
H3 { font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-style: normal; font-weight: bold; color: #004080  }
H4 { font-family: T, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; color: #000000; line-height: 16pt}

LI { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt }




.caption{font-style:italic}
.title2{ font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-style: normal; font-weight: bold; color: #004080  }


P { font-family: Verdana, Arial, Helvetica, sans-serif ;font-weight:normal}
.command {font-family=verdana, arial; color=red	}
.function{font-family=verdana, arial; color=blue}
.partitle{font-family=verdana, arial; font-weight:bold}


XMP{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt }
.function{font-family=courier; color=blue; font-size: 10pt }


TR{font-family: Arial, Helvetica,Times, Helvetica, sans-serif; font-size: 10pt; font-style: normal  ; padding:0 0}
TR.firstline{color: #FFFFFF; background: #000000;text-align=center;font-weight: bold}

TR.ListBackTitle{color: #FFFFFF; background: #000000;text-align=left;font-weight: bold}



TD{background=#FFFFFF; padding:0 0}
TD.ListBackMain{background: #E0E0E0; padding:0 0}
TD.firstcolumn{padding:5 10;background:#C0C0C0;text-align=right}
TD.cellinside{padding:5 10;background:#FFFFFF;text-align=right}





/* CORRELATION MATRIX TRAFFIC HIGHLIGHT*/

TD.corvarname{background-color="#FFFFFF" ;color=black;  height:1.1cm; text-align:right; font-weight:bold}
TD.corsep{width:0.5cm}
TD.cordiag{background-color=#fffff;color=white}
TD.cor0{background-color="#FFFFFF" ;color=black;  width:1.1cm; height:1.1cm; text-align:center}
TD.cor1{background-color="#E6E6E6" ;color=black;  width:1.1cm; height:1.1cm; text-align:center}
TD.cor2{background-color="#CCCCCC" ;color=black;   width:1.1cm; height:1.1cm; text-align:center}
TD.cor3{background-color="#B3B3B3" ;color=black;   width:1.1cm; height:1.1cm; text-align:center}
TD.cor4{background-color="#999999" ;color=black;   width:1.1cm; height:1.1cm; text-align:center}
TD.cor5{background-color="#808080" ;color=white;   width:1.1cm; height:1.1cm; text-align:center}
TD.cor6{background-color="#666666" ;color=white;  width:1.1cm; height:1.1cm; text-align:center} 
TD.cor7{background-color="#4D4D4D" ;color=white;  width:1.1cm; height:1.1cm; text-align:center} 
TD.cor8{background-color="#333333" ;color=white;  width:1.1cm; height:1.1cm; text-align:center} 
TD.cor9{background-color="#1A1A1A" ;color=yellow; width:1.1cm; height:1.1cm; text-align:center} 
TD.cor10{background-color="#000000";color=yellow;  width:1.1cm; height:1.1cm; text-align:center}
						

#gradient-style
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#gradient-style th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe url('img/gradhead.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}
#gradient-style td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff url('img/gradback.png') repeat-x;
}

#gradient-style tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
}
#gradient-style tbody tr:hover td
{
	background: #d0dafd url('img/gradhover.png') repeat-x;
	color: #339;
}

 