

<div id="qc" class="section">
<table>
  <tbody>
    <tr class="head">
      <td colspan="2">Quality Control, Array Removal</td>
    </tr>


    <tr class="line1">
      <td colspan="2">
      <div style="text-align: justify;">Quality assessment is achieved
as a the first step to any microarray analysis. Diagnostic plots such as density plot, box plot
or profiles of control probes will help the analyst evaluate the relative quality of intensity profiles and identify samples which should be flagged for removal. <br>
The following tables provide a set of such diagnostic plots and a list of arrays removed from subsequent analysis.
<br><br></div></td></tr>

    <tr class="line1">
      <td colspan="2">
      <div style="text-align: justify;">

<b>QC Figures:</b><br>
_QCFIGSTABLE_ 
<b>Removed Arrays:</b><br>
_OUTLIERSTABLE_
<br><br></div></td></tr>




  </tbody>
</table>



</div>
<br>
<br>

